<web-app>

	<display-name>Sharebooks application</display-name>
	<description>The application is for people who love books</description>
	




	<!-- servlet names and class -->

	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>com.sharebooks.login.controllers.LoginPageController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.sharebooks.login.controllers.LogoutController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>com.sharebooks.login.controllers.SignInController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>com.sharebooks.login.controllers.SignUpController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>com.sharebooks.home.controllers.HomePageController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GenericRequestController</servlet-name>
		<servlet-class>com.sharebooks.genericRequests.controllers.GenericRequestController</servlet-class>
	</servlet>


	<!-- <servlet>
		<servlet-name>FilterBooksByCategory</servlet-name>
		<servlet-class>com.sharebooks.books.controllers.BooksFilterController</servlet-class>
	</servlet> -->







	<!-- servlet mappings -->

	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/loginPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signIn</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping> -->

	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home/*</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>GenericRequestController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GenericRequestController</servlet-name>
		<url-pattern>/getUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GenericRequestController</servlet-name>
		<url-pattern>/getBook</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>GenericRequestController</servlet-name>
		<url-pattern>/getAllBooks</url-pattern>
	</servlet-mapping>



	

	<!-- <servlet-mapping>
		<servlet-name>FilterBooks</servlet-name>
		<url-pattern>/filterBooks</url-pattern>
	</servlet-mapping> -->








	<!-- context parameters for database-->

	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost/SHAREBOOKS</param-value>
	</context-param>

	<context-param>
		<param-name>DB_USERNAME</param-name>
		<param-value>root</param-value>
	</context-param>


	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>BOOKSCOUNT</param-name>
		<param-value>100</param-value>
	</context-param>







	<!-- listener classes -->

	<listener>
		<listener-class>com.sharebooks.listeners.DatabaseListener</listener-class>
	</listener>


	<listener>
		<listener-class>com.sharebooks.listeners.ResourcesInitializationListener</listener-class>
	</listener>




	<!-- session configuration -->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	

</web-app>










